h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container_swap {
    width: 100%;
}

.div_left {
    height: fit-content;
    float: left;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.div_right {
    height: fit-content;
    float: left;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 200px;
    display: block;
    padding-left: 80px;
}

button {
    margin-top: 10%;
    background-color: black;
    color: white;
    font-size: 50px;
    float: right;
    border: 2px solid white;
    border-radius: 2px;
}

body {
    background-image: url("wallpaper.gif");
    color: white;
    display: flex;
}

.border_contact {
    border: 2px solid white;
    width: fit-content;
    border-radius: 10%;
}

p.contact {
    font-size: 20px;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}